:root {
  --slight-gray: rgb(219, 219, 219);
}

body {
  margin: 0;
}

#login-container {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: var( --slight-gray);
}

#login-form {
  padding: 1rem;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 0px 50px -10px rgba(102,102,102,0.3);
}

/* Main page */

#main-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 60px 1fr 120px;
  grid-template-areas: 
    "top-bar top-bar top-bar"
    "rooms chat-panel sidebar"
    "rooms chat-input sidebar";
  height: 100vh;
  background-color: var( --slight-gray);
}

#top-bar {
  grid-area: top-bar;
  background-color: white;
  border-bottom: 1px solid var( --slight-gray);
}

#rooms {
  grid-area: rooms;
  background-color: white;
  padding: 6px;
  border-right: 1px solid var(--slight-gray);
}

#chat-panel {
  grid-area: chat-panel;
  background-color: white;
  border-bottom: 1px solid var(--slight-gray);
}

#chat-input {
  grid-area: chat-input;
  background-color: white;
}

#sidebar {
  grid-area: sidebar;
  background-color: white;
  padding: 0.5rem;
  border-left: 1px solid var(--slight-gray);
}

/* top bar */

#navbar-logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

/* room list */

.is-active-custom {
  font-weight: bold;
}

.room-title {
  text-transform: uppercase;
  font-size: small;
  color: rgb(39, 39, 39);
}

.room-code {
  text-transform: lowercase;
  font-size: x-small;
  color: rgb(75, 75, 75);
}

.room-tag {
  font-family: monospace;
  font-size: small;
}

/* input area */
#chat-input .field textarea {
  padding: 0.4rem;
  border-radius: 0;
}

#chat-input .field button {
  padding: 0.4rem;
}

/* chat panel */


.chat-user {
  margin-bottom: 6px;
}

.chat-user a {
  font-family: monospace;
}

.chat-time {
  color: rgb(99, 99, 99);
  font-size: small;
}

.chat-message {
  padding: 0.5rem;
  border-bottom: 1px solid rgb(241, 241, 241);
}

/* sidebar */
.content {
  font-size: small;
}